* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    padding: 2px;
    background-color: darkred;
    color: whitesmoke;
    background-size: cover;
    box-sizing: border-box;
}


/* these are my divs for showing/hiding each different page */

.start-page {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.start-page > button {
    width: auto;

}

.quiz-pages {
    height: 300px;
    display: none;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.quiz-pages form {
    display: flex;
    flex-direction: column;
    width: auto;
}

.quiz-pages form > fieldset {
    display: flex;
    flex-direction: column;
}

.answer-pages {
    height: 300px;
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.answer-pages button {
    width: auto;
}

.finish-page {
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}
/*end page divs */

footer > ul {
    display: flex;
    justify-content: space-between;
}

input[type=radio] {
    color: red;
}