* {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}


body {
    background: url('../quiz-app/Elevate-reduced.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}


.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
}

header {
    text-align: center;
    font-size: 15px;
}

h1 {
    color: darkred;
    text-align: center;
}

.start-page {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 20px;
    margin: 7%;
    padding: 5px;
}

.start-page p {
    text-align: center;
}

button {
  background-color: darkred; /* Green */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

button:hover {
    background-color: darkred;
    color: whitesmoke;
    cursor: pointer;
}


.quiz-pages {
    display: none;
    margin: 7%;
    width: 80%;
    align-content: space-between;
    justify-content: space-evenly;
    
}

.quiz-form {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 10px;
}

.quiz-pages legend {
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
    
}

.quiz-pages fieldset {
    display: flex;
    flex-direction: column;
    border: 0px;
    padding: 0px;

}

button.submitButton {
    margin: auto;
    margin-top: 10px;

}

.next-question {
    margin: auto; 
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.answer-pages {
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
}

.finish-page {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

#your-score {
    padding: 10px;
}

footer > ul {
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

footer > ul > li {
    background-color: rgba(0, 0, 0, .5);
    color: whitesmoke;
    padding: 10px;
    border-radius: 15px;
}

footer > ul > li > span{
    color: whitesmoke;
}
